
<div class="row">
        <div class="column" style="width: 30%; background-color:#aaa;">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/1.png" alt="Avatar" style="width: 30%;">
            <div style="margin-left: 10%;">
                <p>Name : </p>
                <p>Height : </p>
                <p>Weight : </p>
                <p>Abilities : </p>
                <p>Experience : </p>
            </div>
        </div>
        <div class="column" style="width: 60%; background-color:#bbb;">
        
        </div>
</div>
