
<div class="dashboardHeader">
    <div class="center">
        <img src="assets/pokeball.png" height="50" width="50" style="margin-right: 10px;"/>
        <h1>
            {{headerTitle}}
        </h1>
    </div>
</div>

<app-pokemon-search (onSearchClick)="setSearchedPokemon($event);"></app-pokemon-search>

<router-outlet></router-outlet> 

<div> <!--Use dashboardFooter class for this div-->
    <hr style="color: grey;">
    <p style="margin-left:1%;">Recent searches :</p>
    <app-pokemon-thumbnail-collection></app-pokemon-thumbnail-collection>
</div>
