
<div class="dashboardHeader">
    <div class="center">
        <img src="assets/pokeball.png" height="50" width="50" style="margin-right: 10px;"/>
        <h1>
            {{headerTitle}}
        </h1>
    </div>
</div>

<app-pokemon-search (onSearchClick)="setSearchedPokemon($event);"></app-pokemon-search>

<!-- <app-pokemon-detail-card></app-pokemon-detail-card> -->

<app-pokemon-card-carousel [pokemonSearchText]="searchedPokemonText"></app-pokemon-card-carousel>

<div > <!--Use dashboardFooter class for this div-->
    <hr style="color: grey;">
</div>
